.rootPane{
    -fx-background-color: #6345DD;
}

.homePage{
    -fx-background-color: #E9E9E9;
}

.fotoProfil{
    -fx-background-color: #757575;
    -fx-background-radius: 15;
}


.layout1Seller{
    -fx-border-color: #A4A4A4;
    -fx-background-radius: 5;
    -fx-border-width: 2;
}
.tambahoredit{
    -fx-font-family: Calibri;
    -fx-text-fill: #000;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}


.produkLabel{
    -fx-text-fill: #5C5C5C;
    -fx-font-family: Calibri;
    -fx-font-size: 35;
}

.editWindow{
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-border-color: #000;
    -fx-border-radius: 5;
}

.buttonFordetail{
    -fx-background-color: #6345DD;
    -fx-background-radius: 5;
    -fx-font-family: Calibri;
    -fx-text-fill: #FFF;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.checkoutButton:hover{
    -fx-font-family: Calibri;
    -fx-background-color: #D9D9D9;
    -fx-font-size: 25;
    -fx-background-radius: 5;
    -fx-font-weight: Bold;
    -fx-text-fill: #6345DD;
    
}

.checkoutButton{
    -fx-font-family: Calibri;
    -fx-background-color: #6345DD;
    -fx-font-size: 25;
    -fx-background-radius: 5;
    -fx-font-weight: Bold;
    -fx-text-fill: #FFF;
    -fx-border-color: #FFF;
    -fx-border-radius: 5;
    
}
.buttonFordetail:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-font-family: Calibri;
    -fx-text-fill: #6345DD;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.searchUntukSeller{
    -fx-background-color: #FFF;
    -fx-border-color: #A4A4A4;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 2;
}
.photoProfile {
    -fx-border-radius: 50%;
}

.profileLabel{
    -fx-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.tambahWindow{
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}
.berhasil{
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #6345DD;
}
.labelSlideBar{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-text-fill: #000;
}

.textFieldforProduk{
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-border-color: #000;
    -fx-border-radius: 5;
}

.produkContainer{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5;
    
}

.buttonSimpan{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-text-fill: #FFF;
    -fx-background-color: #6345DD;
    -fx-background-radius: 5;
}

.buttonSimpan:hover{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-border-color: #6345DD;
    -fx-border-radius: 5;
    -fx-text-fill: #6345DD;
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
}

.labelSlideBarFocused{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-text-fill: #FFF;
}

.gagal{
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #F65353;
}

.allLabelforSetting{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-text-fill: #5C5C5C;
}

.allTextFieldforSetting{
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-text-fill: #000;
}
.judulLayoutBox2{
    -fx-font-family: Calibri;
    -fx-font-weight: Bold;
    -fx-font-size: 25;
    -fx-text-fill: #000;
}
.layoutBox2{
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 5;
}

.slideBar-bg{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5;
}

.focusedBox{
    -fx-background-color: #6345DD;
    -fx-background-radius: 10;
}

.navigationBar{
    -fx-background-color: #6345DD;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 100, 0, 0, 0);

}

.searchBar{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5;
    -fx-text-fill: #a4a4a4;
    -fx-font-size: 15;
    -fx-font-family: Calibri;
}

.profile{
    -fx-background-radius: 50;
    
}

.usernameText{
    -fx-font-family: Calibri;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.masukdisini{
    -fx-text-fill:#6345DD ;
    -fx-font-family: Calibri;
    -fx-font-size: 20;
}

.konten{
    -fx-background-color: #6354DD;
    -fx-background-radius: 10;
}

.masukdisini:hover{
    -fx-text-fill:#6345DD ;
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-text-decoration: underline;
}

.userLabel{
    -fx-text-fill:#a4a4a4 ;
    -fx-font-family: Calibri;
    -fx-font-size: 20;
}

.produkBox{
    -fx-background-color: #FFFEFE;
    -fx-border-color: #CACACA;
    -fx-border-width: 1;
}
.judulProduk{
    -fx-font-family: Calibri;
    -fx-font-size: 15;
}
.hargaProduk{
    -fx-font-family: Calibri;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #6345DD;
}

.katText{
    -fx-font-family: Calibri;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size: 15;
}

.registerBox{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 10 10 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 100, 0, 0, 0);
}

.imgBg{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 100, 0, 0, 0);
}

.loginBox{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 100, 0, 0, 0);
}

.loginText{
    -fx-text-fill: #6345dd;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.regText{
    -fx-text-fill: #6345dd;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-alignment: center;
}

.fieldni{
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #a4a4a4;
    -fx-border-width: 1;
}

.regBtn{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6345DD;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-border-color: #6345dd;
    -fx-border-width: 1;
}

.regBtn:hover{
    -fx-background-color: #6345DD;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-border-color: #6345dd;
    -fx-border-width: 1;
}


.fieldni:focused{
    -fx-background-radius: 7;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #6345dd;
    -fx-border-width: 1;
}

.loginbtn{
    -fx-background-color: #6345DD;
    -fx-text-fill: #ffffff;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-border-color: #6345dd;
    -fx-font-size: 20;
}
.loginbtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6345DD;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-border-color: #6345dd;
    -fx-font-size: 20;
}